.modal-backdrop {
    display:none;
}

a.navbar-brand {
    font-weight: bold;
    color: black !important;
}

/*.navbar-default {
    border-color: #222222;
  
	background: rgb(0,140,186); 
	background: -moz-linear-gradient(left,  rgba(0,140,186,1) 0%, rgba(14,14,14,1) 58%, rgba(14,14,14,1) 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,140,186,1)), color-stop(58%,rgba(14,14,14,1)), color-stop(100%,rgba(14,14,14,1))); 
	background: -webkit-linear-gradient(left,  rgba(0,140,186,1) 0%,rgba(14,14,14,1) 58%,rgba(14,14,14,1) 100%); 
	background: -o-linear-gradient(left,  rgba(0,140,186,1) 0%,rgba(14,14,14,1) 58%,rgba(14,14,14,1) 100%); 
	background: -ms-linear-gradient(left,  rgba(0,140,186,1) 0%,rgba(14,14,14,1) 58%,rgba(14,14,14,1) 100%);
	background: linear-gradient(to right,  rgba(0,140,186,1) 0%,rgba(14,14,14,1) 58%,rgba(14,14,14,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008cba', endColorstr='#0e0e0e',GradientType=1 ); 

	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}


.panel-info>.panel-heading {
    border-color: #3db5d8;
    color: #ffffff;
    background-color: #008cba !important;
    border-bottom: 4px groove #000C0C !important;
}

.panel-info {
    border-color: black !important;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}
.panel-primary>.panel-heading {
    border-color: black;
    color: white;
    background-color: #000000 !important;
    border-bottom: 4px groove #008CBA !important;
}

.panel-primary {
    border-color: black !important;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}

.panel-warning>.panel-heading {
    color: #fff !important;
    background-color: black !important;
    border-color: #24EEF2 !important;
}

.panel-warning {
    border-color: black !important;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}

.btn-info {
    color: #080000 !important;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-warning {
    color: #000 !important;
    background-color: #e99002;
    border-color: #d08002;
}
.panel-default>.panel-heading {
    color: white;
    background-color: black;
    border-bottom: 4px groove #008CBA !important;
}

.panel-default {
    border-color: black;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}


label.labelValue {
    font-weight: bold;
    margin: 5px 0 0 0;
    font-size: 15px;
}*/

label.control-label b {
    font-size: 16px;
}

.spaceA {
    height: 38px;
    /* background: red; */
}

.spaceB {
    height: 23px;
}

.spaceC {
    height: 5px;
}