html, body {
    min-height: 100%;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #434a54 !important;
    background: rgb(179,220,237) !important;

    background: url(http://www.wallpaperup.com/uploads/wallpapers/2014/05/20/355029/832a85a14aa901ec1f4f696d767dec96.jpg) 0 0 no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}


.navbar-default {
    background: white !important;
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc)) !important;
    background-image: linear-gradient(#fff, #ccc) !important;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4) !important;
    position: relative !important;
    border-color: white !important;

}


.navbar-default .navbar-brand, .navbar-default .navbar-link, .navbar-default .btn-link {
    color: black !important;
}

.navbar-default .navbar-text, .navbar-default .navbar-nav > li > a {
    color: black !important;
}


.navbar {
    border-radius: 0 !important;
}

.panel-primary > .panel-heading {
    color: white !important;;
    /* background-color: #3bafda; */
    /* border-color: #3bafda; */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,cc0000+100;Red+Flat */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) !important; /* IE10+ */
background: linear-gradient(45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */


}

span.glyphicon {
    right: 4px;
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
    background-image: linear-gradient(#ededed, #fff);
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
    color: #000 !important;
}

.dropdown-menu {
    /* background-color: #434a54; */
    border: none !important;
    background: rgba(255,255,255,0.7) !important;
    border-radius: 0 0 6px 6px !important;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.88) !important;
    left: 0px
    /* opacity: 1.5; */

}

.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus {
    color: black !important;
    /* background-color: #656d78; */
    outline: none !important;
    background: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#fff)) !important;
    background-image: linear-gradient(#ededed, #fff) !important;
    /* border-radius: 12px; */
    box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.3) !important;
}

.dropdown-menu li a {
    color: black !important;
}

.panel-primary {
    border-color: white !important;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4) !important;
}

.navbar-default .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.28) !important;
    font-size: 19px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5) !important;
}

#login {
    margin-top: 12%;
}

